---
interface Props {
    nameOfPlayer: string
}

const bgColors = [
  "bg-red-500",
  "bg-blue-500",
  "bg-green-500",
  "bg-yellow-500",
  "bg-pink-500",
  "bg-purple-500",
  "bg-indigo-500",
  "bg-teal-500",
  "bg-orange-500",
  "bg-cyan-500",
  "bg-gray-500",
  "bg-red-600",
  "bg-blue-600",
  "bg-green-600",
  "bg-yellow-600",
  "bg-pink-600",
  "bg-purple-600",
  "bg-indigo-600",
  "bg-teal-600",
  "bg-orange-600",
];


const randomIndex = Math.floor(Math.random() * bgColors.length);
const bgColor = bgColors[randomIndex];


const nameOfPlayer = Astro.props
let _nameOfPlayer = nameOfPlayer.nameOfPlayer.split('')


---


<main>
  <div class=`${bgColor} grid place-items-center font-bold text-xl mx-4 w-[40px] h-[40px] rounded-full`>
    {_nameOfPlayer[0].toUpperCase()}{_nameOfPlayer[1].toUpperCase()}
  </div>
</main>
